impresorasModificado.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="sistemasImpresion">
    <xs:annotation>
      <xs:documentation>Sample XML file generated by XMLSpy v2011 sp1 (http://www.altova.com)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="impresoras">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="impresora" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="marca">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nombre"/>
                          <xs:element type="xs:int" name="telefono"/>
                          <xs:element type="xs:string" name="correoE"/>
                          <xs:element type="xs:string" name="direccion" minOccurs="0"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="modelo">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="descatalogado" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:short" name="precio"/>
                    <xs:element type="xs:date" name="fechaSalida"/>
                    <xs:element name="cartuchosCompatibles">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="cartuchos" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="marca">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="modeloCartucho" minOccurs="0"/>
                                      <xs:element type="xs:string" name="nombre" minOccurs="0"/>
                                      <xs:element type="xs:int" name="telefono"/>
                                      <xs:element type="xs:string" name="correoE"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element type="xs:string" name="modelo"/>
                                <xs:element type="xs:short" name="maxPaginas"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cartuchos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cartucho" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="marca">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="nombre"/>
                          <xs:element type="xs:byte" name="telefono"/>
                          <xs:element type="xs:string" name="correoE"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="modelo"/>
                    <xs:element type="xs:byte" name="maxPaginas"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="marcas">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="marca" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nombre"/>
                    <xs:element type="xs:byte" name="telefono"/>
                    <xs:element type="xs:string" name="correoE"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
© FreeFormatter.com - FREEFORMATTER is a d/b/a of 10174785 Canada Inc. - Copyright Notice - Privacy Statement - Terms of Use - Contact

